  <!-- /.content-wrapper -->
  <footer class="main-footer " style="background-color: #1597BB;">
    <strong style="color: whitesmoke;">Copyright &copy; 1980-2021 TBS Physiotherapy & Massage.</strong style="color: whitesmoke;">
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block" style="color: whitesmoke;" >
      <b >Version</b> 0.3.0
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->