<aside class="main-sidebar sidebar-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="/adminlte/dist/img/TBSlogo (1).png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-bold text-dark">TBS-5 FISIOTERAPI</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->

        <li class="nav-item">
          <a href="/" class="nav-link active">
            <i class="nav-icon fas fa-home"></i>
            <p>
              Beranda
            </p>
          </a>
        </li>
        <li class="nav-header">Master</li>
        <li class="nav-item">
          <a href="/therapist" class="nav-link">
            <i class="nav-icon fas fa-user-nurse"></i>
            <p>
              Staff Fisioterapi
            </p>
          </a>
        </li>   
        <li class="nav-item">
          <a href="/emr" class="nav-link">
            <i class="nav-icon fas fa-file-medical"></i>
            <p>
              E-Medical Record
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="pages/gallery.html" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Patient Yang Tangani
            </p>
          </a>
        </li>        
        <li class="nav-item">
          <a href="/recommendation" class="nav-link">
            <i class="nav-icon far fa-image"></i>
            <p>
              Recommendation
            </p>
          </a>
          <li class="nav-header">Payment Method</li>

          <li class="nav-item">
            <a href="/bank" class="nav-link">
              <i class="nav-icon fas fa-money-check"></i>
              <p>
                Bank
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/payment" class="nav-link">
              <i class="nav-icon fas fa-money-check-alt"></i>
              <p>
                    Payment Type
              </p>
            </a>
          </li>

          <li class="nav-header">Transaction</li>
          <li class="nav-item">
            <a href="/transaction" class="nav-link">
              <i class="nav-icon fas fa-shopping-cart"></i>
              <p>
                   Transactions
              </p>
            </a>
          </li>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>