
<table id="example2" class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>No.</th>
      <th>Nama Therapist</th>
      <th>Jumlah Patient </th>
      <th>Jumlah Bonus</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    </tbody>

  </table>                
  
